@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&display=swap');

/*For mobile view*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

 :root {
    --black: black;
    --white: white;
    --blue: #6cacff;
    --aqua: #8debff;
    --block: #cff4d2;
    --whitegray: dimgray;
    --pink: #f78fad;
    --cream: #fdeb82;
    --dim: whitegray;
    font-size: 0.8em;
    --mid: #717171;
    --semiwhite: #ccc;
}

body {
    background-color: var(--white);
    color: var(--black);
}

.nav_btn {
    background-color: transparent;
    color: var(--white);
    border: none;
}

.nav_hdr {
    background-color: cadetblue;
    color: var(--white);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 1em 0;
}

.navbar {
    padding: 0 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "drop" "menu";
}

.hamburger {
    grid-area: drop;
    text-align: left;
    font-size: 1.8em;
}

.hamburger div {
    height: 2px;
    width: 15px;
    background-color: var(--white);
    margin: 0.125em 0;
}

.mainmenu {
    grid-area: menu;
    text-align: left;
    display: none;
    list-style-type: none;
}

.mainmenu a {
    color: var(--white);
    text-decoration: none;
    line-height: 2.5;
    display: block;
}

.nav_btn:focus+.mainmenu {
    display: block;
}

.mainmenu a:hover {
    color: var(--black);
    background-image: linear-gradient(to right, var(--blue), var(--aqua));
}

.filter {
    width: 200px;
    margin-top: 4em;
}

.footer {
    background-image: linear-gradient(to right, var(--blue), var(--aqua));
    font-size: 1em;
    padding: 0 1em;
}

.copyright {
    text-align: center;
    font-size: 0.7em;
    padding: 3em 0 1em 0;
}


/*For tablet view*/

@media screen and (min-width: 768px) {
    .header {
        padding: 0 0 25em 0;
    }
    .menuicon {
        height: 4%;
        width: 4%;
        padding-right: 1em;
    }
}


/*Desktop version*/

@media screen and (min-width: 1025px) {
    .hamburger {
        display: none;
    }
    .mainmenu {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
    }
    .mainmenu a {
        padding: 0 1em;
    }
    .menuicon {
        height: 10%;
        width: 10%;
        padding-right: 1em;
    }
}